pre {
    white-space: pre-wrap;
}

.terminal {
    .prompt {
        user-select: none;
        color: #e00;
        margin-inline-end: 0.5em;
    }

    .user-input {
        color: #00ed3f;
    }

    pre {
        margin: 0;
    }
}

.comment {
    color: #29e000;
}

.kw {
    color: #f0e;
}

.lnum {
    display: inline-block;
    user-select: none;
    color: #999;
    width: 2em;
}

.str {
    color: #d4d400;
}

.op {
    color: #ff9500;
}

.lit {
    color: #b300ff;
}

.terminal, .snippet {
    background-color: #333;
    color: white;
    border: solid #222 1px;
    border-radius: 6px;
    margin: 8px 0;
}

.terminal .label, .snippet .filename {
    background-color: #ccc;
    color: #222;
    border-bottom: solid #666 1px;
    padding: 4px;
    font-size: 0.9em;
}

.terminal .contents, .snippet .program-text {
    margin: 8px 4px;
}
