.left-arrow {
    display: inline-block;
    padding: 3px;
    border: solid black;
    border-width: 2px 2px 0 0;
    transform: rotate(-135deg) translate(0, 20%);
}

.right-arrow {
    display: inline-block;
    padding: 3px;
    border: solid black;
    border-width: 2px 2px 0 0;
    transform: rotate(45deg) translate(-20%, 0);
}

.down-arrow {
    display: inline-block;
    padding: 3px;
    border: solid black;
    border-width: 2px 2px 0 0;
    transform: rotate(135deg) translate(-20%, 20%);
}

.up-arrow {
    display: inline-block;
    padding: 3px;
    border: solid black;
    border-width: 2px 2px 0 0;
    transform: rotate(-45deg);
}

.dropdown {
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover {
        background-color: #aaa;
    }
}

.dropdown-section {
    p {
        margin: 16px 8px;
    }
}

.dropdown-contents {
    margin: 0;

    > .frame {
        margin: 0;
        border-width: 0 0 12px 0;
        border-color: #aaa;
        border-radius: 0;
    }
}

.aux-section-group {
    list-style: none;
    padding: 0;
    margin: 32px 0;
    border: solid #777 1px;

    > .dropdown-section{
        border: solid #111 1px;

        > .dropdown {
            background-color: #333;
            padding: 8px 24px;

            &:hover {
                background-color: #444;
            }

            h3 {
                color: white;
                margin: 0;
            }

            .down-arrow, .up-arrow {
                border: solid white;
                border-width: 4px 4px 0 0;
                padding: 6px;
            }
        }
    }
}

.frame, .snippet, .terminal {
    margin: 16px 8px;
}

.task-list {
    list-style: none;
    padding: 0;
}

.task-and-solution {
    background-color: #eee;
    color: black;
    padding: 8px;
    padding-left: 16px;
    margin: 8px;
    border: solid #222 2px;
    border-inline-start-width: 8px;
    border-inline-start-color: #444;
    border-radius: 3px;

    h3 {
        margin: 0;
    }

    p {
        margin: 1em;
    }

    .solution {
        margin: 8px 0;

        .dropdown {
            border: solid #222 2px;
            border-radius: 3px;
            padding: 4px 16px;

            &:hover {
                background-color: #ddd;
            }
        }
    }
}

.examples, .advice, .projects {
    list-style: none;
    padding: 0;  
}
