.practice {
    padding: 0;
    margin: 0;
    list-style: none;

    /*
        When a problem is answered, a colored border is displayed to indicate
        a correct or incorrect answer. Usually, when this border appears the
        first time the problem is answered, the inner contents are pushed
        inward to make space for the new border. By providing a transparent
        border, the contents do not need to be pushed when this border is shown.
    */
    border: 3px solid #ffff;

    p {
        margin: 16px;
    }

    .terminal, .snippet {
        margin: 0 8px;
        margin-bottom: 24px;

        input[type='text'] {
            font-family: monospace;
            color: white;
            background-color: #666;
            width: 100%;
            padding: 0;
            padding-left: 0.2em;
            border-width: 0;
            outline: none;
            font-size: inherit;
        }

        input[type='text'] {
            &.inline {
                display: inline;
                max-width: 5em;
            }

            &.operand {
                display: inline;

                &.number {
                    max-width: 2em;
                }

                &.character {
                    max-width: 1em;
                }

                &.string {
                    max-width: 10em;

                    &.short {
                        max-width: 4em;
                    }

                    &.long {
                        max-width: 20em;
                    }
                }
            }
        }
    }
}

.problem-prompt {
    font-size: larger;
}

.problem-top-bar {
    display: grid;
    grid-template-columns: max-content 1fr 1fr;
    margin: 0 32px;

    .problem-counter {
        margin-right: 8px;
    }

    .problem-select-bar {
        justify-self: end;
    }
}

.problem-select-bar {
    display: flex;
    align-items: center;
    gap: 8px;

    button {
        background-color: #ddd;
        width: 32px;
        height: 32px;
        border: 2px solid #222;
        border-radius: 50%;

        &:active {
            background: #ccc;
        }
    }
}

.problem-counter {
    display: inline-block;
    font-size: 1.4em;
    font-weight: 500;
}

.check-button, .solve-button {
    display: block;
    color: white;
    background-color: #333;
    width: 95%;
    padding: 0.5em 1em;
    margin: auto;
    border: none;
    border-radius: 256px;
    font-size: large;

    &:active {
        background-color: #444;
    }
}

.check-button {
    margin-top: 8px;
    margin-bottom: 4px;
}

.solve-button {
    margin-top: 4px;
    margin-bottom: 16px;
}

.answered {
    border: 3px solid;
}

.correct {
    border-color: #0e0;
}

.incorrect {
    border-color: #e00;
}

.checkmark {
    display: inline-block;
    border: solid green;
    border-width: 0 0 4px 4px;
    height: 6px;
    width: 16px;
    transform: rotate(-45deg) translate(0, 20%);
}

.xmark {
    display: inline-block;

    &::after {
        position: absolute;
        content: '\d7';
        font-size: 34px;
        color: red;
        font-weight: 600;
        transform: translate(0, -52%);
    }
}
