:root {
    font-family: Arial, sans-serif;
    font-size: 13pt;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@layer base {

html {
    display: flex;
    justify-content: center;
}

body {
    background-color: #d7d0be;
    width: 800px;
    margin: 0;
    line-height: 1.5;
}

input {
    box-sizing: border-box;
}

main {
    background-color: white;
    padding: 16px;
    padding-top: 0;
    padding-bottom: 64px;
    border: 2px solid black;
}

h1 {
    font-size: 3em;
    text-align: center;
    background-color: #222;
    color: white;
}

h2 {
    font-size: 2em;
    text-decoration: underline;
}

h3 {
    font-size: 1.4em;
}

dfn {
    font-weight: bold;
    font-style: normal;
}

img.diagram {
    display: block;
    max-width: 100%;
    height: auto;
    border: solid #222 1px;
    border-radius: 3px;
    margin: auto;
    margin-top: 16px;
    margin-bottom: 16px;
}

p, td, .display {
    kbd, samp, code, var {
        background-color: #ccc;
        padding: 0 4px;
        border-radius: 3px;
        font-style: normal;
    }
}

table {
    background-color: #222;
    color: white;
    table-layout: fixed;
    width: 100%;
    border: solid black 1px;
    border-collapse: collapse;
    margin: 32px 0;

    kbd, samp, code {
        background-color: #ccc;
        color: black;
    }
    
    caption {
        background-color: #444;
        border: solid black 1px;
        padding: 4px;
    }

    th, td {
        border-inline-end: solid black 1px;
        padding: 4px 0;
    }

    th {
        background-color: #111;
        border-block-end: solid black 1px;
        padding: 8px;
    }

    tbody tr:nth-child(even) {
        background-color: #333;
    }
}

table.operations-table {
    thead th:nth-child(1) {
        width: 10%;
    }

    thead th:nth-child(2) {
        width: 40%;
    }

    thead th:nth-child(3) {
        width: 10%;
    }

    thead th:nth-child(4) {
        width: 40%;
    }

    tbody td:nth-child(1), tbody td:nth-child(3) {
        text-align: center;
    }

    tbody td:nth-child(2), tbody td:nth-child(4) {
        padding-inline-start: 1em;
    }
}

table.oporder-table {
    thead th:nth-child(1) {
        width: 20%;
    }

    thead th:nth-child(2) {
        width: 80%;
    }

    tbody td:nth-child(1) {
        text-align: center;
    }
    
    tbody td:nth-child(2) {
        padding-inline-start: 1em;
    }
}

span.label {
    font-size: 1.2em;
    font-weight: bold;
}

.frame {
    background-color: #eee;
    color: black;
    border: solid #222 1px;
    border-radius: 3px;
    margin: 32px; 8px;
    padding: 8px;
}

.display {
    display: block;
    margin: 0.5em 0;
    text-align: center;
}

.list-title {
    font-weight: bold;
    font-size: 1.5em;
}

.bottom-nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #ddd;
    padding: 16px;
    margin: auto;
    margin-top: 32px;
    margin-bottom: 32px;
    border: solid #222 1px;
    border-left-width: 0;
    border-right-width: 0;

    a:nth-child(1) {
        text-align: start;

        &::before {
            content: '< ';
        }
    }

    a:nth-child(2) {
        text-align: center;
    }

    a:nth-child(3) {
        text-align: end;
        
        &::after {
            content: ' >';
        }
    }
}

}
